<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head'); %>
    <link rel="stylesheet" type="text/css" href="/public/css/game.css"/>
</head>
<body>
<div class="block-container">
<div class="blocks">
    <div id="left-block"><%- include('../components/VNdisplay'); %></div>
    <div id="right-block">
        <section id="section-bajaj">
            <%- include('../components/VNbajaj'); %>
        </section>
        <section id="section-menu">
            <%- include('../components/VNmenu'); %>
        </section>        
    </div>
</div>
</div>
<div id="frame">
    <iframe id="iframe-book" src="/public/html/book.html" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:auto; z-index:999;">
        Your browser doesn't support iframes
    </iframe>
</div>

<span id='variableJSON' hidden>
    <%= JSON.stringify(chapterPlay); %>
</span>
</body>
</html>
<script src="/public/js/game.js"></script>
<script>
    $(document).ready(function() {
        $("#frame").hide();
        $("#section-menu").hide();
        $("#section-bajaj").show();
        $("#menu").click(function() {
            $("#section-bajaj").hide();
            $("#section-menu").show();
            
        });
        $("#back").click(function() {
            $("#section-menu").hide();
            $("#section-bajaj").show();
        });
        $("#mission").click(function() {
            $("#frame").show();
        });
        $("#frame").dblclick(function() {
            $("#frame").hide();
        });



    });
</script>