<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head'); %>
    <meta name="theme-color" content="#ce953a">
    <link rel="stylesheet" type="text/css" href="/public/css/flashcard.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/statusmonitor.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/game.css"/>
</head>
<body>
<div class="block-container">
<div class="blocks">
    <div id="left-block"><%- include('../components/VNdisplay'); %></div>
    <div id="right-block">
        <section id="section-bajaj" class="section-right-vn">
            <%- include('../components/VNbajaj'); %>
        </section>
        <section id="section-menu" class="section-right-vn">
            <%- include('../components/VNmenu'); %>
        </section>   
        <section id="section-flashcards" class="section-right-vn">
            <%- include('../components/VNflashcards'); %>
        </section>  
        <section id="section-statusmonitor" class="section-right-vn">
            <%- include('../components/VNstatusmonitor'); %>
        </section>       
    </div>
</div>
</div>

<% if (urlName=='prologue') { %>
    <section id="frame">
        <iframe id="iframe-book iframe-prologue" src="/public/booklets/prologue.html" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:auto; z-index:999;">
            Your browser doesn't support iframes
        </iframe>
    </section>
<% } %>
<% if (urlName=='dynamite') { %>
    <section id="frame">
        <iframe id="iframe-book iframe-dynamite" src="/public/booklets/dynamite.html" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:auto; z-index:999;">
            Your browser doesn't support iframes
        </iframe>
    </section>
<% } %>


<span id='variableJSON' hidden>
    <%= JSON.stringify(chapter); %>
</span>
</body>
</html>
<script>
    var loggedUser = '<%- user %>'; 
    loggedUser = JSON.parse(loggedUser);
    console.log(loggedUser);
    var username = loggedUser.username;
    var urlName = '<%= urlName %>';
    var storyId = '<%= storyId %>'; 
    var chapterNumber = '<%= chapterNumber %>';
    var lastBg;
    var userProgress;
    var userCurrentNode;
    var states = {};

    function saveProgress(){
        $.ajax({  
            url:'/db/saveProgress',  
            method:'post',  
            dataType:'json',  
            data:{
                user: JSON.stringify(loggedUser),
                storyId: storyId,
                urlName: urlName,
                chapterNumber: chapterNumber,
                userCurrentNode: userCurrentNode,
                lastBg: lastBg
            },  
            success:function(response){  
                if(response){  
                    console.log('save berhasil');  
                    userProgress = JSON.parse(response);
                    userCurrentNode = userProgress.currentNode;
                    states = userProgress.states;
    
                }else{  
                    console.log('some error occurred try again');  
                }  
            },  
            error:function(response){  
                console.log('server error occured')  
            }  
        });
    }

    $(document).ready(function() {
        $("#frame").hide();
        $(".section-right-vn").hide();
        $("#section-bajaj").show();
        
        $("#menu").click(function() {
            $(".section-right-vn").hide();
            $("#section-menu").show();
        });
        $("#back").click(function() {
            $(".section-right-vn").hide();
            $("#section-bajaj").show();
        });
        $("#flashcards").click(function() {
            $(".section-right-vn").hide();
            $("#section-flashcards").show();
        });
        $("#status-monitor").click(function() {
            $(".section-right-vn").hide();
            $("#section-statusmonitor").show();
        });
        $(".close-menu-option").click(function() {
            $(".section-right-vn").hide();
            $("#section-menu").show();
        });
        $("#save-quit").click(function() {
            saveProgress();
            window.location.href = "/";
        });
        $("#mission").click(function() {
            $("#frame").show();
        });
    });

    
</script>
<script src="/public/stories/dynamiteQuiz.js"></script>
<script src="/public/js/game.js"></script>